<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">

            <ion-back-button defaultHref="/" [icon]="buttonIcon">
            </ion-back-button>
        </ion-buttons>
        <ion-title>Detalle de Película</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="content">
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>{{content.Genre}}</ion-card-subtitle>
            <ion-card-title>{{content.Title}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <h2><b>Año:</b> {{content.Year}}</h2>
            <h2><b>Duración:</b> {{content.Runtime}}</h2>
            <h2><b>Dirección:</b> {{content.Director}}</h2>
            <h2><b>Reparto:</b> {{content.Actors}}</h2>
            <h2><b>Productora:</b> {{content.Production}}</h2>
            <h2><b>Sinopsis:</b> {{content.Plot}}</h2>
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer>
    <ion-toolbar color="light">
        <ion-title>Okode | Víctor Hernández</ion-title>
    </ion-toolbar>
</ion-footer>